.bgimg{
  background-image: url(../images/home-office-336373_640.jpg);
  background-repeat: no-repeat;
  background-size:100%;
  opacity: 0.85;
  /*border : 1px solid black;*/
}
.extend{
  height: 900px;

}
.letter{
  color:white;
}
.textpos{
  color:orangered;
  /*padding: 250px;*/
  font-style:italic;
  font-family: monospace;
}
.spaclass{
  color:white;
  margin-top:250px;
}
.horline{
  width:150px;
  height: 3px;
  background-color: orangered;
}
.imgsize{
  width:200px;
 border-radius: 100px;

}
.imgpos{
  padding:30px;
}
.parastyle{
  color:black;
  font-size: 20px;
  font-family: Sans-Serif;
  font-weight: 400;
}
.img-arrg{
  padding:20px;
}
figure{
  display: inline-block;
}
.imgsz1{
  width:180px;
  height: 160px;
  /*border: 1px solid black;*/
}
.imgsz2{
  width:180px;
  height: 170px;
  /*border: 1px solid black;*/
}
.imgsz3{
  width:300px;
  height: 160px;
  /*border: 1px solid black;*/
}
.imgsz4{
  width:200px;
  height: 200px;
  /*border: 1px solid black;*/
}
.imgsz5{
  width:320px;
  height: 290px;
  /*border: 1px solid black;*/
}
.mywork{
  height: 1000px;
}
.monty{
  width :300px;
  height: 300px;
  /*margin: 20px;*/
  top:0;
  /*right: 0px;*/
  /*border: 1px solid black;*/
}
.footer{
  height:300px;
  border-top: 3px solid orangered;
  background-color:rgb(44,63,82);
  color: white;
}
.contacthead{
margin-top: 40px;
}
.mysetting{
  color:white;
  font-size: 50px;
  padding:10px;
}
.project{
  width:600px;
  height: 400px;
  margin-top: 50px;
}
.parasetting{
  margin-top: 80px;
  font-family: monospace;
  margin-left: 20px;
}
.input{

}
.montypara{
  font-family: SansSerif;
  font-size: 20px;
  /*display: inline;*/
  /*border: 1px solid black;*/
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
}
.paradiv{
  width: 500px;
  height: 200px;
  /*border: 1px solid green;*/
  float: left;
  margin: 20px;
  overflow: scroll;
}
/*.montyhall-container{*/
  /*width: 100vw;*/
/*}*/
.imagecontainer{
  /*border : 1px solid red;*/
  margin: 20px;
  /*width: inherit;*/
  /*height: inherit;*/
  background-color: aqua;
float: left;
}
.informationcontainer .hidetext{
  /*position: absolute;*/
  opacity: 0;
  display: block;
}
.informationcontainer a:hover+.hidetext{
  opacity: 1;
  /*background-color: darkorange;*/
  display: block;
  position: absolute;
  color: black;
  text-align: center;
  /*border:  1px solid black;*/
  width: 300px;
  padding: 15px;
  font-family: Sans-Serif;
  font-size: 25px;
}
.informationcontainer  img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.informationcontainer a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
