/*.body{*/
  /*padding-top: 100px;*/
/*}*/

.bgimg{
  /*background: linear-gradient(rgba(0,0,0,0.45));*/
  background : linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/home-office-336373_640.jpg) no-repeat ;
  background-size:100% 100%;
  opacity: 0.9;
  /*background-color: yellow;*/
  /*width: 100%;*/

}
.navbar{
  z-index: 500;
padding:10px;
}
.icon-bar{
  background-color: white;

}
.arrow{
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 100px;
  /*border-radius: 12px;*/
  /*background: white;*/
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
  /*border: 2px solid white;*/
  position: absolute;
  bottom: 2%;
  position: absolute;
  left: 51%;
  margin-left: -26px;
}
.arrowmove{
  display: block;
  margin: 6px auto;
  /*width: 10px;*/
  /*height: 10px;*/
  /*border-radius: 4px;*/
  /*background: white;*/
  border: 1px solid transparent;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
.arrowimg {
  margin-top: 60px;
  width: 50px;
  height: auto;
  /*opacity: 5;*/
}


@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(60px);
  }
}
/*.arrowimg{*/
  /*width: 40px;*/
  /*height: 20px;*/
/*}*/

.extend{
  height:100vh;

}
.letter{
  color:white;
  font-size:17px;
  font-family: SansSerif;
}
.textpos{
  color:orangered;
  /*padding: 250px;*/
  font-style:italic;
  font-family: monospace;
}
.spaclass{
  color:white;
  margin-top:250px;
}
.horline{
  width:150px;
  height: 3px;
  background-color: orangered;
}
.imgsize{
  width:200px;
 border-radius: 100px;
  height: 200px;

}
.imgpos{
  padding:30px;
}
.parastyle{
  color:black;
  font-size: 20px;
  font-family: Sans-Serif;
  font-weight: 400;
}
.img-arrg{
  padding:20px;
}
figure{
  display: inline-block;
}
.imgsz1{
  width:180px;
  height: 160px;
  /*border: 1px solid black;*/
}
.imgsz2{
  width:180px;
  height: 170px;
  /*border: 1px solid black;*/
}
.imgsz3{
  width:300px;
  height: 160px;
  /*border: 1px solid black;*/
}
.imgsz4{
  width:200px;
  height: 200px;
  /*border: 1px solid black;*/
}
.imgsz5{
  width:320px;
  height: 290px;
  /*border: 1px solid black;*/
}
.mywork{
  height: 1000px;
}
.monty{
  width :300px;
  height: 300px;
  /*margin: 20px;*/
  top:0;
  /*right: 0px;*/
  /*border: 1px solid black;*/
}
.img-thumbnail{
   /*background-color: rgba(44,63,82,0.1);*/
  width : 250px;
  height: 200px;
  /*border: dotted;*/

 }
.footer{
  height:300px;
  border-top: 3px solid orangered;
  background-color:rgb(44,63,82);
  color: white;
}
.contacthead{
margin-top: 40px;
}
.mysetting{
  color:white;
  font-size: 50px;
  padding:10px;
}
.project{
  width:600px;
  height: 400px;
  margin-top: 50px;
}
.parasetting{
  margin-top: 80px;
  font-family: monospace;
  margin-left: 20px;
}
.input{

}
.montypara{
  font-family: SansSerif;
  font-size: 20px;
  /*display: inline;*/
  /*border: 1px solid black;*/
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
}
.paradiv{
  width: 500px;
  height: 200px;
  /*border: 1px solid green;*/
  float: left;
  margin: 20px;
  overflow: scroll;
}
/*.montyhall-container{*/
  /*width: 100vw;*/
/*}*/
.container{
  /*border: 1px solid black;*/
}
.imagecontainer{
  /*border : 1px solid red;*/
  margin: 20px;
  /*width: inherit;*/
  /*height: inherit;*/
  /*background-color: aqua;*/
float: left;
}
.informationcontainer .hidetext{
  /*position: absolute;*/
  opacity: 0;
  display: block;
  z-index: -1;
}
.informationcontainer a:hover+.hidetext{
  opacity: 1;
  /*background-color: darkorange;*/
  display: block;
  position: absolute;
  color: rgb(44,63,82);
  text-align: center;
  /*border:  1px solid black;*/
  width: 300px;
  padding: 15px;
  font-family: Sans-Serif;
  font-size: 25px;
}
/*img {*/
  /*-webkit-transform: scale(0.5);*/
  /*transform: scale(0.5);*/
  /*-webkit-transition: .3s ease-in-out;*/
  /*transition: .3s ease-in-out;*/
  /*padding :0px;*/
/*}*/
/*a:hover img {*/
  /*-webkit-transform: scale(0.9);*/
  /*transform: scale(0.9);*/
/*}*/
.glyphicon-menu-down{
  color:white;
    /*opacity: 0.7;*/
  font-size: 40px;
  /*width: 10px;*/
}
