.row {
    /*text-align: center;*/
    /*position: relative;*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    /*background-color: yellow;*/
    /*border: 1px solid brown;*/
}


.bgimg {
    /*background: linear-gradient(rgba(0,0,0,0.45));*/
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home-office-336373_640.jpg) no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
    position: relative;
    /*background-color: yellow;*/
    /*width: 100%;*/

}

.navbar {
    /*position: relative;*/
    z-index: 1000;
    padding: 10px;
    /*border: 1px solid white;*/

}
.headercolor{
    color: white;
}
.navbar-brand{
    color: white;
    font-size: 22px;
    font-family: Lobster;
    /*border: 1px solid brown;*/
    margin: 5px;
}
/*li{*/
    /*border:3px solid yellow;*/
/*}*/
/*.navbar-brand :hover{*/
    /*background-color: transparent;*/
    /*border:none;*/
/*}*/
/*.navbar-header :hover {*/
    /*border-bottom: 3px solid orangered;*/
    /*background: pink;*/
    /*color: white;*/
/*}*/
.navbar-nav >li> a{
    /*border-bottom:  3px  solid brown;*/
    /*margin: 5px;*/
}
.navbar-nav > li > a:hover {
    border-bottom: 3px solid orangered;
    background: transparent;
    color: white;
}
/*.navbar-right{*/
    /*border : 1px solid blue;*/
/*}*/

.icon-bar {
    background-color: white;

}

.arrow {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 100px;
    /*border-radius: 12px;*/
    /*background: white;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
    /*border: 2px solid white;*/
    position: absolute;
    bottom: 10%;
    position: absolute;
    left: 50%;
    margin-left: -26px;
}

.arrowmove {
    display: block;
    margin: 6px auto;
    /*width: 10px;*/
    /*height: 10px;*/
    /*border-radius: 4px;*/
    /*background: white;*/
    border: 1px solid transparent;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

.glyphicon.glyphicon-menu-down {
    font-size: 60px;
}


@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(60px);
    }
}

.extend {
    height: 100vh;
}

.letter {
    color: white;
    font-size: 22px;
    font-family: Lobster;
    /*border-bottom:3px solid white;*/
}

.textpos {
    color: orangered;
    /*padding: 250px;*/
    font-style: italic;
    font-family: monospace;
}

.ornge {
    color: orangered;
    font-family: Lobster;
    font-size: 50px;
}

.spaclass {
    color: white;
    margin-top: 350px;
    font-size: 50px;
    font-family: Lobster;
}

.myname {
    color: white;
    font-size: 25px;
    font-family: Lobster;
}

.horline {
    width: 150px;
    height: 3px;
    background-color: orangered;
}

.imgsize {
    width: 200px;
    border-radius: 100px;
    height: 200px;

}

.imgpos {
    padding: 30px;
}

.parastyle {
    color: black;
    font-size: 25px;
    font-family: Lobster;
    font-weight: 400;
    text-align: justify;


}
.aboutcontent{
    /*border: 1px solid black;*/

}
.content{
    margin-left: 25%;
    margin-right: 25%;
    /*border: 1px solid pink;*/

}
.jumbotron{
    /*border: 1px solid black;*/
    /*position: relative;*/
}

.img-arrg {
    padding: 20px;
}

figure {
    display: inline-block;
}

.imgsz1 {
    width: 180px;
    height: 160px;
    /*border: 1px solid black;*/
}

.imgsz2 {
    width: 180px;
    height: 170px;
    /*border: 1px solid black;*/
}

.imgsz3 {
    width: 200px;
    height: 200px;
    /*border: 1px solid black;*/
}

.imgsz4 {
    width: 200px;
    height: 160px;
    margin: 15px;
    /*border: 1px solid black;*/
}

.imgsz5 {
    width: 320px;
    height: 290px;
    /*border: 1px solid black;*/
}

.mywork {
    /*height: 1000px;*/
    /*background-color: #73AD21;*/
    /*
    position: relative;
    */
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    /*border: 1px solid red;*/

}

.container {
    /*background-color: burlywood;*/
    /*display: grid;*/
    /*border: 1px solid white;*/
    /*margin: 0 auto;*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
    /*overflow: scroll;*/

}

.monty {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 0;
    /*padding: 20px;*/
    box-sizing: border-box;
    /*right: 0px;*/
    /*border: 1px solid black;*/
}

.img-thumbnail {
    background-color: transparent;
    width: 250px;
    height: 200px;

}

.footer {
    border-top: 5px solid orangered;
    background-color: rgb(44, 63, 82);
    color: white;
    overflow: hidden;
}

.contacthead {
    margin-top: 40px;
}

.mysetting {
    color: white;
    font-size: 50px;
    padding: 10px;
}
.inlineval i.mysetting:hover{
    color: orangered;
}

.project {
    width: 600px;
    height: 400px;
    margin-top: 50px;
}

.parasetting {
    margin-top: 80px;
    font-family: monospace;
    margin-left: 20px;
}

.montypara {
    font-family: SansSerif;
    font-size: 20px;
    /*border: 1px solid black;*/
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
}

.paradiv {
    width: 500px;
    height: 200px;
    /*border: 1px solid green;*/
    float: left;
    margin: 20px;
    overflow: scroll;
}

.container {
    /*border: 1px solid black;*/
}

.imagecontainer {
    float: left;
    /*box-sizing: border-box;*/
    /*background-color: #73AD21;*/
    /*border: 1px solid black;*/
    position: inherit;
    z-index: 0;
}

.informationcontainer {
    text-align: center;
}

.hidetext {

    color: rgba(204, 0, 0, 0.7);
    font-size: 25px;
    font-family: Lobster;

}

.informationcontainer .hidetext {
    /*position: absolute;*/
    opacity: 1;
    display: block;
    z-index: -5;
}

.informationcontainer a:hover + .hidetext {
    opacity: 1;
    /*background-color: darkorange;*/
    display: block;
    position: absolute;
    color: rgb(44, 63, 82);
    text-align: center;
    /*border:  1px solid black;*/
    width: 250px;
    padding: 5px;
    font-family: Sans-Serif;
    font-size: 25px;
}

.glyphicon-menu-down {
    color: white;
    font-size: 40px;

}
.form{
    text-align: center;
    margin:auto;
    padding-left: 30%;
    /*border:3px solid orange;*/
}
.inlineval{

    text-align: center;
}
input{
    font-size: 30px;
}
input ,textarea{
    padding:10px;
    border-radius: 10px;
    display: block;
    width:400px;
    margin: 10px;
    font-family: Lobster;
    font-size: 20px;
    border: 2px solid orangered;
    color: black;
}
.formbtn{
    width:100px;
    background-color:rgb(44, 63, 82) ;
    border: 3px solid orangered;
    color: white;
}
input,textarea,.formbtn :focus{
    outline: none;
}
/* the media queris */
@media only screen and (min-width : 320px){
    .spaclass{
        font-size: 40px;
        margin-top: 200px;
    }
    .navbar-brand{
        margin: inherit;
    }
    .arrow{
        bottom:5%;
    }
    .ornge{
        font-size:40px;
    }
    .parastyle{
        display: inline;
    }
    .content{
        margin-left: 5%;
        margin-right: 5%;
        text-align: inherit;
    }
    .form{
        padding-left: 2%;
    }
    input,textarea{
        width: 80vW;
    }
}
@media only screen and (min-width:768px){
   .navbar-brand{
       margin: inherit;
       /*border:1px solid blue*/
       font-size: 20px;
   }

    .letter{
        font-size: 20px;
    }
    .spaclass{
        font-size: 50px;
        margin-top: 450px;
    }
    .navbar-brand{
        margin: inherit;
    }
    .arrow{
        bottom:10%;
    }
    .ornge{
        font-size:50px;
    }
    .form{
        text-align: center;
        margin:auto;
        padding-left: 25%;
    }
    input ,textarea{
        padding:10px;
        border-radius: 10px;
        display: block;
        width:50vW;
        margin: 10px;
        font-family: Lobster;
        font-size: 20px;
        border: 2px solid orangered;
    }
}

@media only screen and (min-width : 992px) {
    .content{
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 2%;
        /*border: 1px solid pink;*/

    }
    .form{
        text-align: center;
        margin:auto;
        padding-left:30%;

    }
    .inlineval{
        text-align: center;
    }

    input ,textarea{
        padding:10px;
        border-radius: 10px;
        display: block;
        width:30vW;
        margin: 10px;
        font-family: Lobster;
        font-size: 20px;
        border: 2px solid orangered;
    }
}
