.maincontainer{
    margin: auto;
    width:100vw;
    height: 50vw;
    /*border: 1px solid black;*/
    background-color: rgb(255,255,255);
    padding: 50px;

}
.shapecontainer{
    width: 200px;
    height: 500px;
    /*border: 1px solid black;*/
    float: left;
    margin-top: 150px;
}
.buildingcontainer{
    width: 800px;
    height: 500px;
    /*border: 1px solid red;*/
    float: left;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
    margin-top:150px;
    margin-left: 50px;
}
h1,h3{
    color :rgb(188,185,212);
    font-family: SansSerif;
}

/*div{*/
/*position: absolute;*/
/*display: inline-block;*/
/*}*/
.specificshape{
    /*float: left;*/
    display: block;
    /*border: 1px solid brown;*/
}
.shape1{
    border-left:25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom:50px solid red;
    float: left;
    margin-left:20px;
    position: absolute;
    display: inline-block;
    /*Triangle*/
}
.shape2{

    width: 50px;
    height: 50px;
    background:yellow;
    margin-left:100px;
    float: left;
    position: absolute;
    display: inline-block;
    /* Square*/
}

.shape3{
    width: 150px;
    height: 40px;
    background: blue;
    position: absolute;
    display: inline-block;
    /*margin-top:80px;*/
    /*Rectangle*/
    top:630px;
    margin: 5px;

}
.shape4{
    /*Circle*/
    width: 50px;
    height: 50px;
    background: purple;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    display: inline-block;
    top:280px;
    left :150px
}
.shape5{
    /*Triangle down*/
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid blueviolet;
    position: absolute;
    display: inline-block;
    top:280px;
    margin-left:20px;
}
.shape6{
    /*triangle left */
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid green;
    border-bottom: 25px solid transparent;
    position: absolute;
    display: inline-block;
    top:540px;
    left :150px;

}
.shape7{
    /* triangle top left */

    width: 0;
    height: 0;
    border-top: 50px solid greenyellow;
    border-right: 50px solid transparent;
    position: absolute;
    /*display: inline-block;*/
    top:470px;
    margin-left: 20px;
}
.shape8{
    /*Triangle top right*/
    width: 0;
    height: 0;
    border-top: 50px solid crimson;
    border-left: 50px solid transparent;
    position: absolute;
    top:470px;
    left: 150px;

}
.shape9{
    /*parallelogram*/
    width: 75px;
    height: 50px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: gray;
    position: absolute;
    top :370px;
    left: 150px;
}
.shape10{
    /*cone*/
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid orangered;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border-radius: 25%;
    position: absolute;
    top:550px;
    /*left: 150px;*/
    margin-left: 10px;
    /*background-color: orangered;*/
}
.shape11{
    width:25px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top:350px;
    margin-left:20px;
}
